@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    @* sidebar *@
    <div class="sidebar">
        <div class="subject-content">
            <ul id="collapseConfig" class="list-unstyled components">
                <li class="@((ViewBag.ActiveMenu == "banner") ? "active" : "")">
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <i class="fa-solid fa-image col-2"></i>
                            <a class="title col-6" asp-controller="Configuration" asp-action="GetAllBanner">Quản lý
                                banner</a>
                        </span>
                    </p>
                </li>
                <li class="@((ViewBag.ActiveMenu == "user") ? "active" : "")">
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <i class="fas fa-user-tie icon col-2"></i>
                            <a class="title col-6" asp-controller="Configuration" asp-action="GetAllUser">Quản lý người
                                dùng</a>
                        </span>
                    </p>
                </li>
                <li class="@((ViewBag.ActiveMenu == "user") ? "active" : "")">
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <i class="fas fa-user-tie icon col-2"></i>
                            <a class="title col-6" asp-controller="Configuration" asp-action="GetAll_User">Quản lý học sinh</a>
                        </span>
                    </p>
                </li>
                <li class="@((ViewBag.ActiveMenu == "school") ? "active" : "")">
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <i class="fa-solid fa-school col-2"></i>
                            <a class="title col-6" asp-controller="School" asp-action="GetAllSchool">Quản lý trường
                                học</a>
                        </span>
                    </p>
                </li>
                <li>
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <a class="title col-6">Quản lý Môn học</a>
                        </span>
                    </p>
                </li>
                <li>
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <a class="title col-6">Hoá Học</a>
                        </span>
                    </p>
                </li>
                <li>
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <a class="title col-6">Câu hỏi an toàn</a>
                        </span>
                    <ul>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Question">Câu hỏi an toàn phòng thí
                                nghiệm</a></li>
                    </ul>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <a class="title col-6">Virtual Lab</a>
                        </span>
                    <ul>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Experiment">Thực nghiệm</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Conspectus">Đại cương</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Inorganic_Organic">Vô cơ - Hữu cơ</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Biological">Hoạt tính sinh học</a></li>
                    </ul>
                    </p>
                </li>
                <li>
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <a class="title col-6">Giáo trình</a>
                        </span>
                    <ul>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Conspectus">Đại cương</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Inorganic">Hoá học vô cơ</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Organic">Hóa học hữu cơ</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Experiment">Thực nghiệm</a></li>
                    </ul>
                    </p>
                </li>
                <li>
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <a class="title col-6">Thực hành</a>
                        </span>
                    <ul>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Preparation_questions">Câu hỏi chuẩn bị</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Practice_report">Báo cáo thực hành</a></li>
                    </ul>
                    </p>
                </li>
                <li>
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <a class="title col-6">Nghiên cứu</a>
                        </span>
                    <ul>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Department_level">Đề tài cấp sở</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Provincial_level">Đề tài cấp tỉnh</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_National_level">Đề tài cấp quốc gia</a>
                        </li>
                    </ul>
                    </p>
                </li>
                <li>
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <a class="title col-6">Tiếng anh chuyên ngành</a>
                        </span>
                    <ul>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Vocabulary">Từ vựng</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Examenglish">Bài giảng song ngữ</a></li>
                        <li><a asp-controller="Chemistry" asp-action="GetAll_Exam">Bài tập</a></li>
                    </ul>
                    </p>
                </li>
            </ul>
        </div>
    </div>

    @* page content *@
    <div id="content">
        <div class="header d-flex justify-content-between">
            <div class="left">
                <p class="title">Dashboard</p>
            </div>
            <div class="right d-flex">
                <div class="icon-group d-flex">
                    <i class="fa-regular fa-bell icon-right"></i>
                    <i class="fa-regular fa-comments icon-right"></i>
                    <i class="fa-regular fa-moon icon-right"></i>
                </div>
                <div class="info-user d-flex">
                    @{
                        string avatarPath = TempData["AvtPath"]?.ToString();
                        string defaultAvatarPath = Url.Content("~/images/defaultAvatar.jpg");
                        string displayAvatarPath = !string.IsNullOrEmpty(avatarPath) ? Url.Content(avatarPath) :
                        defaultAvatarPath;
                    }
                    <img src="@displayAvatarPath" class="icon" alt="User Avatar" />
                    <div class="info">
                        <p class="name">@TempData["name"]</p>
                        <p class="role">@TempData["role"]</p>
                    </div>
                    <div class="dropdown">
                        <i class="fa-solid fa-ellipsis-vertical" id="ellipsis-icon" data-bs-toggle="dropdown"></i>
                        <ul class="dropdown-menu">
                            <li class="d-flex">
                                <i class="fa-regular fa-user"></i>
                                <a class="dropdown-item" asp-area="" asp-controller="Configuration"
                                    asp-action="Fix_Information">Chỉnh sửa thông tin</a>
                            </li>
                            <li class="d-flex">
                                <i class="fa-solid fa-door-open"></i>
                                <a class="dropdown-item" asp-controller="Login" asp-action="Logout">Đăng xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-container">
            @RenderBody()
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>

</html>
