@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    @* sidebar *@
    <div class="sidebar">
        <div class="subject-content">
            <ul id="collapseConfig" class="list-unstyled components">
                <li class="@((ViewBag.ActiveMenu == "banner") ? "active" : "")">
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <i class="fa-solid fa-image col-2"></i>
                            <a class="title col-6" asp-controller="Configuration" asp-action="GetAllBanner">Quản lý banner</a>
                        </span>
                    </p>
                </li>
                <li class="@((ViewBag.ActiveMenu == "user") ? "active" : "")">
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <i class="fas fa-user-tie icon col-2"></i>
                            <a class="title col-6" asp-controller="Configuration" asp-action="GetAllUser">Quản lý người dùng</a>
                        </span>
                    </p>
                </li>
                <li class="@((ViewBag.ActiveMenu == "school") ? "active" : "")">
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <i class="fa-solid fa-school col-2"></i>
                            <a class="title col-6" asp-controller="School" asp-action="GetAllSchool">Quản lý trường học</a>
                        </span>
                    </p>
                </li>
            </ul>
        </div>
    </div>

    @* page content *@
    <div id="content">
        <div class="header d-flex justify-content-between">
            <div class="left">
                <p class="title">Dashboard</p>
            </div>
            <div class="right d-flex">
                <div class="icon-group d-flex">
                    <i class="fa-regular fa-bell icon-right"></i>
                    <i class="fa-regular fa-comments icon-right"></i>
                    <i class="fa-regular fa-moon icon-right"></i>
                </div>
                <div class="info-user d-flex">
                    <img src="@Url.Content("~/images/ic_user.png")" class="icon" alt="" />
                    <div class="info">
                        <p class="name">John Doe</p>
                        <p class="role">Admin</p>
                    </div>
                    <div class="dropdown">
                        <i class="fa-solid fa-ellipsis-vertical" id="ellipsis-icon" data-bs-toggle="dropdown"></i>
                        <ul class="dropdown-menu">
                            <li class="d-flex">
                                <i class="fa-regular fa-user"></i>
                                <a class="dropdown-item" asp-area="" asp-controller="Configuration"
                                    asp-action="Fix_Information">Chỉnh sửa thông tin</a>
                            </li>
                            <li class="d-flex">
                                <i class="fa-solid fa-door-open"></i>
                                <a class="dropdown-item" href="#">Đăng xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-container">
            @RenderBody()
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
