@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <style>
        ul {
            list-style-type: none;
        }
        .nested {
            display: none;
        }

        .active {
            display: block;
        }

        .cursor-pointer {
            cursor: pointer;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
</head>

<body>
    @* sidebar *@
    <div class="sidebar">
        <div class="subject-content">
            <ul id="collapseConfig" class="list-unstyled components">
                <li class="@((ViewBag.ActiveMenu == "banner") ? "active" : "")">
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <i class="fa-solid fa-image col-2"></i>
                            <a class="title col-6" asp-controller="Configuration" asp-action="GetAllBanner">Quản lý
                                banner</a>
                        </span>
                    </p>
                </li>
                <li class="@((ViewBag.ActiveMenu == "user") ? "active" : "")">
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <i class="fas fa-user-tie icon col-2"></i>
                            <a class="title col-6" asp-controller="Configuration" asp-action="GetAllUser">Quản lý người
                                dùng</a>
                        </span>
                    </p>
                </li>
                <li class="@((ViewBag.ActiveMenu == "school") ? "active" : "")">
                    <p class="d-flex justify-content-between">
                        <span class="left row">
                            <i class="fa-solid fa-school col-2"></i>
                            <a class="title col-6" asp-controller="School" asp-action="GetAllSchool">Quản lý trường
                                học</a>
                        </span>
                    </p>
                </li>
                <li>
                    <p class="d-flex justify-content-between cursor-pointer" onclick="toggleMenu('manage-subjects')">
                        <span class="left row">
                            <i class="fa-solid fa-address-book col-2"></i>
                            <a class="title col-6">Quản lý môn học</a>
                        </span>
                    </p>
                    <ul id="manage-subjects" class="nested">
                        <li>
                            <p class="d-flex justify-content-between cursor-pointer" onclick="toggleMenu('chemistry')">
                                <span class="left row">
                                    <i class="fa-solid fa-flask col-2"></i>
                                    <a class="title col-6">Hoá Học</a>
                                </span>
                            </p>
                            <ul id="chemistry" class="nested">
                                <li>
                                    <p class="d-flex justify-content-between cursor-pointer" onclick="toggleMenu('cauhoiantoan')">
                                        <span class="left d-flex" style="align-items: center;">
                                            <i class="fa-solid fa-chevron-right" style="font-size: 12px;"></i>
                                            <a class="sub-menu-title">Câu hỏi an toàn</a>
                                        </span>
                                    </p>
                                    <ul id="cauhoiantoan" class="nested">
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Question">Câu hỏi an toàn phòng thí nghiệm</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="d-flex justify-content-between cursor-pointer" onclick="toggleMenu('virtuallab')">
                                        <span class="left d-flex" style="align-items: center;">
                                            <i class="fa-solid fa-chevron-right" style="font-size: 12px;"></i>
                                            <a class="sub-menu-title">Virtual Lab</a>
                                        </span>
                                    </p>
                                    <ul id="virtuallab" class="nested">
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Experiment">Thực nghiệm</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Conspectus">Đại cương</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Inorganic_Organic">Vô cơ - Hữu cơ</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Biological">Hoạt tính sinh học</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="d-flex justify-content-between cursor-pointer" onclick="toggleMenu('giaotrinh')">
                                        <span class="left d-flex" style="align-items: center;">
                                            <i class="fa-solid fa-chevron-right" style="font-size: 12px;"></i>
                                            <a class="sub-menu-title">Giáo trình</a>
                                        </span>
                                    </p>
                                    <ul id="giaotrinh" class="nested">
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Conspectus">Đại cương</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Inorganic">Hoá học vô cơ</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Organic">Hóa học hữu cơ</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Experiment">Thực nghiệm</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="d-flex justify-content-between cursor-pointer" onclick="toggleMenu('thuchanh')">
                                        <span class="left d-flex" style="align-items: center;">
                                            <i class="fa-solid fa-chevron-right" style="font-size: 12px;"></i>
                                            <a class="sub-menu-title">Thực hành</a>
                                        </span>
                                    </p>
                                    <ul id="thuchanh" class="nested">
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Preparation_questions">Câu hỏi chuẩn bị</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Practice_report">Báo cáo thực hành</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="d-flex justify-content-between cursor-pointer" onclick="toggleMenu('nghiencuu')">
                                        <span class="left d-flex" style="align-items: center;">
                                            <i class="fa-solid fa-chevron-right" style="font-size: 12px;"></i>
                                            <a class="sub-menu-title">Nghiên cứu</a>
                                        </span>
                                    </p>
                                    <ul id="nghiencuu" class="nested">
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Department_level">Đề tài cấp sở</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Provincial_level">Đề tài cấp tỉnh</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_National_level">Đề tài cấp quốc gia</a>
                                    </ul>
                                </li>
                                <li>
                                    <p class="d-flex justify-content-between cursor-pointer" onclick="toggleMenu('tienganhchuyennganh')">
                                        <span class="left d-flex" style="align-items: center;">
                                            <i class="fa-solid fa-chevron-right" style="font-size: 12px;"></i>
                                            <a class="sub-menu-title">Tiếng anh chuyên ngành</a>
                                        </span>
                                    </p>
                                    <ul id="tienganhchuyennganh" class="nested">
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Vocabulary">Từ vựng</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Examenglish">Bài giảng song ngữ</a></li>
                                        <li class="menu-item"><a asp-controller="Chemistry" asp-action="GetAll_Exam">Bài tập</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="d-flex justify-content-between cursor-pointer" onclick="toggleMenu('bio')">
                                <span class="left row">
                                    <i class="fa-solid fa-dna col-2"></i>
                                    <a class="title col-6">Sinh học</a>
                                </span>
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    @* page content *@
    <div id="content">
        <div class="header d-flex justify-content-between">
            <div class="left">
                <p class="title">Dashboard</p>
            </div>
            <div class="right d-flex">
                <div class="icon-group d-flex">
                    <i class="fa-regular fa-bell icon-right"></i>
                    <i class="fa-regular fa-comments icon-right"></i>
                    <i class="fa-regular fa-moon icon-right"></i>
                </div>
                <div class="info-user d-flex">
                    @{
                        string avatarPath = TempData["AvtPath"]?.ToString();
                        string defaultAvatarPath = Url.Content("~/images/defaultAvatar.jpg");
                        string displayAvatarPath = !string.IsNullOrEmpty(avatarPath) ? Url.Content(avatarPath) :
                        defaultAvatarPath;
                    }
                    <img src="@displayAvatarPath" class="icon" alt="User Avatar" />
                    <div class="info">
                        <p class="name">@TempData["name"]</p>
                        <p class="role">@TempData["role"]</p>
                    </div>
                    <div class="dropdown">
                        <i class="fa-solid fa-ellipsis-vertical" id="ellipsis-icon" data-bs-toggle="dropdown"></i>
                        <ul class="dropdown-menu">
                            <li class="d-flex">
                                <i class="fa-regular fa-user"></i>
                                <a class="dropdown-item" asp-area="" asp-controller="Configuration"
                                    asp-action="Fix_Information">Chỉnh sửa thông tin</a>
                            </li>
                            <li class="d-flex">
                                <i class="fa-solid fa-door-open"></i>
                                <a class="dropdown-item" asp-controller="Login" asp-action="Logout">Đăng xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-container">
            @RenderBody()
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        function toggleMenu(id) {
            var element = document.getElementById(id);
            if (element) {
                element.classList.toggle('active');
            }
        }
    </script>
</body>

</html>
