@model IEnumerable<SaRLAB.Models.Entity.Quiz>

@{
    ViewData["Title"] = "GetAllQuestion";
    Layout = "~/Views/HomePage/_LayoutHomePage.cshtml";
}

<h1>GetAllQuestion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionAImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionBImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionCImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionDImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionAImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionBImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionCImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionDImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
