<!DOCTYPE html>
@{
    var bannerUrl = ViewBag.school.Banner != null
        ? Url.Content(ViewBag.school.Banner)
        : Url.Content("~/images/banner.jpg");
}
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
        <title>Home</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <link rel="stylesheet" href="~/font-awesome/css/all.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/animated.css">
        <link rel="stylesheet" href="~/css/owl.css">
    </head>

    <body style="overflow: hidden">
        <div id="services" class="services section"
         style="background: url('@bannerUrl') center;">
            <div class="overlay"></div>
            <div class="services-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="section-heading wow fadeInDown">
                            <img src=@ViewBag.school.SchoolLogo />
                            <h5 class="text-white wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" style="margin-bottom: 15px;">@ViewBag.school.Name</h5>
                            <div class="divider-custom"></div>
                            <h1 class="text-white wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s" style="font-size: 45px; margin-top: 30px;">Welcome to the Lab App</h1>
                                <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
                                    Room management utility application. SaR LAB promises optimal work and facilitates creativity in research!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                <div class="d-flex flex-wrap justify-content-center align-items-center">
                    @if (ViewBag.SubjectFlag.ChemistryPermissionFlag == true)
                    {
                        <div class="flex-item p-2" @ViewBag.c>
                            <a asp-controller="MultipleQuestions" asp-action="GetAllQuestion" class="service-link">
                                <div class="service-item first-service">
                                    @if (@ViewBag.school.ChemLogo == null)
                                    {
                                        <img src="@Url.Content("~/images/chem.png")" class="image" alt="" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(ViewBag.school.ChemLogo)" class="image" alt="" />
                                    }
                                    <h4>Hóa học</h4>
                                </div>
                            </a>
                        </div>
                    }
                    @if (ViewBag.SubjectFlag.BiologyPermissionFlag == true)
                    {
                        <div class="flex-item p-2">
                            <a asp-controller="MultipleQuestions" asp-action="GetAllQuestion_Bio" class="service-link">
                                <div class="service-item second-service">
                                    @if (@ViewBag.school.BioLogo == null)
                                    {
                                        <img src="@Url.Content("~/images/bio.png")" class="image" alt="" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(ViewBag.school.BioLogo)" class="image" alt="" />
                                    }
                                    <h4>Sinh học</h4>
                                </div>
                            </a>
                        </div>
                    }
                    @if (ViewBag.SubjectFlag.PhysicPermissionFlag == true)
                    {
                        <div class="flex-item p-2">
                            <a asp-controller="MultipleQuestions" asp-action="GetAllQuestion_Physics" class="service-link">
                                <div class="service-item third-service">
                                    @if (@ViewBag.school.PhysLogo == null)
                                    {
                                        <img src="@Url.Content("~/images/physics.png")" class="image" alt="" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(ViewBag.school.PhysLogo)" class="image" alt="" />
                                    }
                                    <h4>Vật lý</h4>
                                </div>
                            </a>
                        </div>
                    }
                    @if (ViewBag.SubjectFlag.MathPermissionFlag == true)
                    {
                        <div class="flex-item p-2">
                            <a asp-controller="MultipleQuestions" asp-action="GetAllQuestion_Math" class="service-link">
                                <div class="service-item fourth-service">
                                    @if (@ViewBag.school.BiochemLogo == null)
                                    {
                                        <img src="@Url.Content("~/images/math.png")" class="image" alt="" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(ViewBag.school.BiochemLogo)" class="image" alt="" />
                                    }
                                    <h4>Hoá Sinh</h4>
                                </div>
                            </a>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    </body>
</html>