@model IEnumerable<SaRLAB.Models.Entity.ScientificResearchFile>

@{
    ViewData["Title"] = "Detail_TopicScientificResearch";
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}

<h1>Detail_TopicScientificResearch</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScientificResearchId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ScientificResearchId)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit_FileScientificResearch", new { id=item.ID}) |
                    @Html.ActionLink("Delete", "Delete_FileScientificResearch", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
