@model IEnumerable<SaRLAB.Models.Entity.Document>

@{
    ViewData["Title"] = "GetAll_SubjectSyllabus";
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}

<h1>GetAll_SubjectSyllabus</h1>

<p>
    <a asp-controller="Chemistry" asp-action="Create_SubjectSyllabus">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecializedEnglishFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecializedEnglishFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit_SubjectSyllabus", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete_SubjectSyllabus", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
