@model IEnumerable<SaRLAB.Models.Dto.UserDto>

@{
    ViewData["Title"] = "GetAllUser";
    Layout = "~/Views/Home/_LayoutHome.cshtml";
    ViewBag.TitleCustom = "Danh sách người dùng";
    int counter = 1;
}

<div id="sub-content">
    <partial name="TitleCustom">
    <div class="table-container">
        <div class="table-action row">
            <div class="col-8">
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="searchInput" class="form-control" placeholder="Search&hellip;">
                </div>
            </div>
            <div class="col-4">
                <button id="deleteSelected" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                    <i class="fa-solid fa-trash-can"></i>
                    Xóa
                </button>
                <a asp-area="" class="btn-custom-create" style="margin-left: 10px" type="button" asp-action="InsertUser" asp-controller="Configuration">
                    <i class="fa-solid fa-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll" />
                    </th>
                    <th>#</th>
                    <th>
                        Họ và tên
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                    <th class="d-none">
                        @Html.DisplayNameFor(model => model.CreateBy)
                    </th>
                    <th class="d-none">
                        @Html.DisplayNameFor(model => model.UpdateBy)
                    </th>
                    <th class="d-none">
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </th>
                    <th>
                        Vai trò
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        <td>
                            <input type="checkbox" class="selectRow" data-id="@item.ID" />
                        </td>
                        <td>
                            @counter
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        @{
                            var formattedDateOfBirth = item.DateOfBirth.ToString("dd/MM/yyyy");
                        }
                        <td>
                            @formattedDateOfBirth
                        </td>
                        <td class="d-none">
                            @Html.DisplayFor(modelItem => item.CreateBy)
                        </td>
                        <td class="d-none">
                            @Html.DisplayFor(modelItem => item.UpdateBy)
                        </td>
                        <td class="d-none">
                            @Html.DisplayFor(modelItem => item.CreateTime)
                        </td>
                        @{
                            string backgroundColor = "";

                            if (item.RoleName == "Admin")

                            {

                                backgroundColor = "#8ed4ff";

                            }

                            else if (item.RoleName == "Moderator")

                            {

                                backgroundColor = "#3783c4";

                            }
                        }
                        <td>
                            <p style="
                                margin: 0;
                                background: @backgroundColor;
                                padding: 2px;
                                text-align: center;
                                border-radius: 15px;
                                color: white;
                                font-size: 12px">
                                @Html.DisplayFor(modelItem => item.RoleName)</p>
                        </td>
                        <td>
                                <a class="btn-custom-edit-by-email" asp-action="Edit" asp-controller="Configuration" asp-route-email="@item.Email">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a class="delete" title="Delete" data-toggle="modal" data-target="#deleteModal" data-id="@item.ID">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
    @* modal delete *@
    @{
        ViewBag.DeleteAction = "DeleteMultipleUsers";
    }
    <partial name="ModalDelete">
</div>
