@model IEnumerable<SaRLAB.Models.Entity.Banner>

@{
    ViewData["Title"] = "GetAllBanner";
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}

<h1>GetAllBanner</h1>

<p>
    <a asp-area="" asp-controller="Configuration" asp-action="InsertBanner">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBanner", new { id=item.ID}) |
                @Html.ActionLink("Delete", "DeleteBanner", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
