@model IEnumerable<SaRLAB.Models.Entity.School>

@{
    ViewData["Title"] = "GetAllSchool";
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}

<h1>GetAllSchool</h1>

<p>
    <a asp-action="CreateSchool">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditSchool", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "DeleteSchool", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
