@model SaRLAB.Models.Entity.Equipment

@{
    ViewData["Title"] = "Details_EquipmentChemistryStorage";
    Layout = "~/Views/Subject_5/_Layout.cshtml";
    ViewBag.TitleCustom = "Chi tiết thiết bị";
}

<div id="sub-content">
    <div class="container">
        <div class="row">
            <div class="col-12 detail-container">
                <div class="d-flex justify-content-between">
                    <partial name="_TitleCustom">
                    <div class="detail-action">
                            <a asp-area="" asp-action="Edit_EquipmentChemistryStorage" asp-route-id="@Model.ID" class="btn-edit" type="button">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Chỉnh sửa
                        </a>
                            <a asp-area="" asp-action="GetAll_EquipmentChemistryStorage" class="btn-custom-return" type="button">
                            <i class="fa-solid fa-angles-left"></i>
                            Trở về
                        </a>
                    </div>
                </div>
                <dl class="row">
                    <div class="col-12 col-md-4">
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-solid fa-file-signature"></i>
                                <p>Tên</p>
                            </div>
                            <p class="detail">@Html.DisplayFor(model => model.Name)</p>
                        </div>
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-solid fa-inbox"></i>
                                <p>Số lượng</p>
                            </div>
                            <p class="detail">@Html.DisplayFor(model => model.EquipmentQuantity)</p>
                        </div>
                        @{
                            var currentTime = DateTime.Now;
                            var style = Model.ExpiredTime <= currentTime ? "color: #cf656f; font-weight: 500" : "";
                            var isExpired = Model.ExpiredTime <= currentTime ? "(Đã hết hạn)" : "";
                        }
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-solid fa-clock"></i>
                                <p>Thời gian hết hạn</p>
                            </div>
                            <p class="detail" style="@style">@Html.DisplayFor(model => model.ExpiredTime)</p>
                            <p class="detail" style="color: #cf656f; font-weight: 600">@isExpired</p>
                        </div>
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-solid fa-user"></i>
                                <p>Người tạo</p>
                            </div>
                            <p class="detail">@Html.DisplayFor(model => model.CreateBy)</p>
                        </div>
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-solid fa-clock"></i>
                                <p>Thời gian tạo</p>
                            </div>
                            <p class="detail">@Html.DisplayFor(model => model.CreateTime)</p>
                        </div>
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-solid fa-user"></i>
                                <p>Người cập nhật</p>
                            </div>
                            <p class="detail">@Html.DisplayFor(model => model.UpdateBy)</p>
                        </div>
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-solid fa-clock"></i>
                                <p>Thời gian cập nhật</p>
                            </div>
                            <p class="detail">@Html.DisplayFor(model => model.UpdateTime)</p>
                        </div>
                        @{
                            var props = Model.Property == "dangerous" ? "Nguy hiểm" :
                            Model.Property == "notDangerous" ? "Không nguy hiểm" : "Ít nguy hiểm";
                            var backgroundColor = Model.Property == "dangerous" ? "#a8424c" :
                            Model.Property == "notDangerous" ? "#32a771" : "#e0ae6a";
                        }
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-solid fa-tag"></i>
                                <p>Đặc tính</p>
                            </div>
                            <p style="
                                padding: 0px 10px;
                                white-space: nowrap;
                                margin-left: 20px;
                                margin-top: 5px;
                                background: @backgroundColor;
                                text-align: center;
                                border-radius: 15px;
                                color: white;
                                font-size: 14px;
                                line-height: 25px;
                                width: fit-content;
                                font-style: italic;">
                                @props
                            </p>
                        </div>
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-solid fa-barcode"></i>
                                <p>Xuất xứ</p>
                            </div>
                            <p class="detail">@Html.DisplayFor(model => model.From)</p>
                        </div>
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-solid fa-comment"></i>
                                <p>Ghi chú</p>
                            </div>
                            <p class="detail">@Html.DisplayFor(model => model.Remark)</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="detail-item">
                            <div class="title">
                                <i class="fa-regular fa-file"></i>
                                <p>Chi tiết file</p>
                            </div>
                        </div>
                        @if (string.IsNullOrEmpty(Model.ImagePath))
                        {
                            <span style="color: #5d6975; font-style: italic; padding-left: 25px;">Không có sẵn file nào!</span>
                        }
                        else
                        {
                            string path = Model.ImagePath;
                            string extension = System.IO.Path.GetExtension(path).ToLower();

                            if (extension == ".jpg" || extension == ".jpeg" || extension == ".png" || extension == ".gif")
                            {
                                <img src="@Url.Content(path)" alt="Image" style="max-width: 100%; height: auto;" />
                            }
                            else if (extension == ".mp4" || extension == ".webm" || extension == ".ogg")
                            {
                                <video width="100%" height="auto" controls>
                                    <source src="@Url.Content(path)" type="video/@extension.Substring(1)">
                                    Your browser does not support the video tag.
                                </video>
                            }
                            else if (extension == ".pdf")
                            {
                                <object class="pdf"
                                        data="@Url.Content(path)"
                                        width="100%"
                                        height="800">
                                </object>
                            }
                            else
                            {
                                <p class="form-text-danger">Không hỗ trợ file!</p>
                            }
                        }
                    </div>
                    <dt class="col-sm-2 d-none">
                        @Html.DisplayNameFor(model => model.ID)
                    </dt>
                    <dd class="col-sm-10 d-none">
                        @Html.DisplayFor(model => model.ID)
                    </dd>
                    <dt class="col-sm-2 d-none">
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd class="col-sm-10 d-none">
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dt class="col-sm-2 d-none">
                        @Html.DisplayNameFor(model => model.SubjectId)
                    </dt>
                    <dd class="col-sm-10 d-none">
                        @Html.DisplayFor(model => model.SubjectId)
                    </dd>
                    <dt class="col-sm-2 d-none">
                        @Html.DisplayNameFor(model => model.SchoolId)
                    </dt>
                    <dd class="col-sm-10 d-none">
                        @Html.DisplayFor(model => model.SchoolId)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>