@model SaRLAB.Models.Entity.User

@{
    ViewData["Title"] = "Details_Directors";
    Layout = "~/Views/HomePage/_LayoutHomePage.cshtml";
}

<h1>Details_Directors</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademyRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademyRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvtPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvtPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetAll_Directors">Back to List</a>
</div>
