@model IEnumerable<SaRLAB.Models.Entity.Document>

@{
    ViewData["Title"] = "GetAll_Experiment";
    ViewBag.TitleCustom = "Danh sách thực nghiệm";
    Layout = "~/Views/HomePage/_LayoutHomePage.cshtml";
    int counter = 1;
}

<div id="sub-content">
    <div class="container">
        <div class="row">
            <div class="col-12 table-container">
                <div class="table-action d-flex justify-content-between">
                    <partial name="_TitleCustom">
                    <a class="btn-custom-create" type="button" asp-controller="Chemistry" asp-action="Create_Experiment">
                        <i class="fa-solid fa-plus"></i>
                        Thêm mới
                    </a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.Path)
                            </th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.SpecializedEnglishFlag)
                            </th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.PageFlag)
                            </th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.CreateBy)
                            </th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.CreateTime)
                            </th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.UpdateBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UpdateTime)
                            </th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.SubjectId)
                            </th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Remark)
                            </th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.SchoolId)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @counter
                                </td>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.Path)
                                </td>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.SpecializedEnglishFlag)
                                </td>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.PageFlag)
                                </td>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.CreateBy)
                                </td class="d-none">
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateTime)
                                </td>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.UpdateBy)
                                </td>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.UpdateTime)
                                </td>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.SubjectId)
                                </td>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.SchoolId)
                                </td>
                                <td>
                                    <a class="btn-custom-view-detail" asp-action="Details_Experiment" asp-route-id="@item.ID">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a class="btn-custom-edit" asp-action="Edit_Experiment" asp-route-id="@item.ID">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a class="btn-custom-delete" asp-action="Delete_Experiment" asp-route-id="@item.ID">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                                counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
